@font-face {
    font-family: Urbanist-Regular;
    src: url(../static/fonts/Urbanist/Urbanist-Regular.ttf);
}
@font-face {
    font-family: Urbanist-Bold;
    src: url(../static/fonts/Urbanist/Urbanist-Bold.ttf);
}
@font-face {
    font-family: Urbanist-ExtraBold;
    src: url(../static/fonts/Urbanist/Urbanist-ExtraBold.ttf);
}
@font-face {
    font-family: Urbanist-Black;
    src: url(../static/fonts/Urbanist/Urbanist-Black.ttf);
}

@media (max-width: 480px) {
	#content {
		margin: 12px;
		padding: 12px;
	}
	#content h1 {
		font-size: 48px;
	}
	#content h2 {
		font-size: 22px;
	}	
	#content h3 {
		font-size: 22px;
	}	
	#content p {
		font-size: 20px;
	}	
	#content #pledge {
		margin: 36px auto;
		padding: 12px;
	}
	.text-content {
		width: 98%
	}
	#success-modal {
		padding-top: 10vh;
	}
	.modal-content {
		width: 80vw;
		height: 80vh;
	}
	.modal-body {
		padding: 20% 10%;
		width: 80%;
		height: 80%;
	}
	.modal-content h1 {
		font-size: 48px;
	}
	.modal-content p {
		font-size: 20px;
	}
}
@media (min-width: 481px) and (max-width: 1024px) {
	#content {
		margin: 12px;
		padding: 12px;
	}
	#content h1 {
		font-size: 50px;
	}
	#content h2 {
		font-size: 28px;
	}	
	#content h3 {
		font-size: 28px;
	}	
	#content p {
		font-size: 24px;
	}	
	#content #pledge {
		width: 90%;
		margin: 36px auto;
		padding: 16px;
	}
	.text-content {
		width: 90%
	}
	#success-modal {
		padding-top: 20vh;
	}
	.modal-content {
		width: 60vw;
		height: 50vh;
	}
	.modal-body {
		padding: 20% 10%;
		width: 80%;
		height: 60%;
	}
	#success-modal {
		padding-top: 25vh;
	}
	.modal-content h1 {
		font-size: 48px;
	}
	.modal-content p {
		font-size: 24px;
	}
}
@media (min-width: 1025px) {
	#content {
		margin: 24px;
		padding: 24px;
	}
	#content h1 {
		font-size: 64px;
	}
	#content h2 {
		font-size: 36px;
	}	
	#content h3 {
		font-size: 36px;
	}	
	#content p {
		font-size: 28px;
	}	
	#content #pledge {
		width: 80%;
		margin: 64px auto;
		padding: 16px;
	}
	.text-content {
		width: 80%
	}
	.modal-content {
		width: 60vw;
		height: 40vh;
	}
	.modal-body {
		padding: 10%;
		width: 80%;
		height: 60%;
	}
	.modal-content h1 {
		font-size: 48px;
	}
	.modal-content p {
		font-size: 24px;
	}
}

html, body {
    margin: 0;
    overflow-x: hidden;
    background-color: #284245;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: Urbanist-Regular;
}
body {
    overflow: hidden;
}
.spinner-container {
    background-color: #000000;
    width: 100vw;
    min-height: 100vh;
    -webkit-animation-duration: 12s;animation-duration: 12s;
    -webkit-animation-fill-mode: both;animation-fill-mode: both;
}
.west-pier {
	position: absolute;
	bottom: 50%;
	right: 20px;
	z-index: 3;
}
canvas {
    position: absolute;
    top: 0;
    -webkit-animation-duration: 12s;animation-duration: 12s;
    -webkit-animation-fill-mode: both;animation-fill-mode: both;
}
#container {
    background-color: #284245;
    min-height: 100vh;
}
.text-content {
    margin: 0 auto;
}
#content {
    text-align: center;
    color: #eae2b7;
	max-width: 1600px;
	margin: 0 auto;
}
#content h1 {
    color: #fcbf49;
	font-family: Urbanist-ExtraBold;
}
#content h3 {
	font-family: Urbanist-Black;
}
#content #pledge {
    border-radius: 20px;
    background-color: #fcbf49;
    color: #284245;
}
#pledge-button {
    margin-top: 12px;
    font-size: 20px;
    padding: 12px 16px;
    border-radius: 12px;
	background-color: #fcbf49;
    border: 2px solid #f7e0b3;
	font-family: Urbanist-Bold;
	color: #284245;
	cursor: pointer
}
#pledge-button:hover {
	background-color: #f7e0b3;
    border: 2px solid #fcbf49;
}
#pledge-button:disabled {
    background-color: #9c9c9c;
    border: 2px solid #585858;
    color: #c7c7c7;
    font-family: Urbanist-Bold;
	cursor:not-allowed;
}
.row {
	flex-direction: row;
	width: 300px;
	margin: 0 auto;
}
.cb-text {
    float: right;
    line-height: 35px;
    height: 35px;
	font-size: 20px;
}
.pledge-counter {
	margin-top: 25px;
	margin-bottom: 50px;
}
#counter {
	margin: 0;
    margin-right: 8px;
    display: inline;
	font-family: Urbanist-ExtraBold;
	font-size: 20px;
}
.counter-text {
	display: inline;
}
.blurred {
	filter: blur(5px);
	-webkit-filter: blur(5px);
}

/* ----- DOWN ARROW ----- */
.arrows {
    display: none;
}
.arrow {
    z-index: 2;
    opacity: 0;
    position: absolute;
    left: 50%;
    top: 90%;
    transform-origin: 50% 90%;
    transform: translate3d(-50%, -50%, 0);
}

.arrow-first {
    animation: arrow-movement 2s ease-in-out infinite;
}
.arrow-second {
    animation: arrow-movement 2s 1s ease-in-out infinite;
}

.arrow:before,
.arrow:after {
    background: #ffffdc;
    content: '';
    display: block;
    height: 3px; 
    position: absolute;
        top: 0;
        left: 0;
    width: 30px;
}

.arrow:before {
    transform: rotate(45deg) translateX(-23%);
    transform-origin: top left;
}

.arrow:after {
    transform: rotate(-45deg) translateX(23%);
    transform-origin: top right;
}

@keyframes arrow-movement {
    0% { 
        opacity: 0;
        top: 85%;
    }
    70% {
        opacity: 1;
    }
    100% { 
        opacity: 0;
    }
}

/* MODAL */
/* The Modal (background) */
#success-modal {
	display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
}
.modal-content {
    position: relative;
    margin: auto;
    padding: 0;
    border: 2px solid #155839;
    border-radius: 20px;
    background-color: #f1f9f0;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
}
.modal-content h1 {
	font-family: Urbanist-ExtraBold;
}
.modal-content p {
	font-family: Urbanist-Regular;
}
#modal-close {
    color: black;
    position: absolute;
    top: 0;
    right: 24px;
    font-size: 44px;
    font-weight: bold;
}
#modal-close:hover,
#modal-close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}
.modal-body {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
@-webkit-keyframes animatetop {
	from {top:-300px; opacity:0} 
	to {top:0; opacity:1}
}
@keyframes animatetop {
	from {top:-300px; opacity:0}
	to {top:0; opacity:1}
}

/* ----- SPINNER ----- */
.cssload-container *, .cssload-container *:before, .cssload-container *:after{
	box-sizing: border-box;
		-o-box-sizing: border-box;
		-ms-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
}

.cssload-container {
	margin: 45vh auto;
	width: 113px;
	height: 56px;
    -webkit-animation-duration: 2s;animation-duration: 2s;
    -webkit-animation-fill-mode: both;animation-fill-mode: both;
}

.cssload-container > div {
	background: #ffffff;
	height: 100%;
	width: 9px;
	margin-right: 2px;
	display: inline-block;
}

.cssload-container .cssload-shaft1 {
	animation-delay: 0.06s;
		-o-animation-delay: 0.06s;
		-ms-animation-delay: 0.06s;
		-webkit-animation-delay: 0.06s;
		-moz-animation-delay: 0.06s;
}
.cssload-container .cssload-shaft2 {
	animation-delay: 0.12s;
		-o-animation-delay: 0.12s;
		-ms-animation-delay: 0.12s;
		-webkit-animation-delay: 0.12s;
		-moz-animation-delay: 0.12s;
}
.cssload-container .cssload-shaft3 {
	animation-delay: 0.17s;
		-o-animation-delay: 0.17s;
		-ms-animation-delay: 0.17s;
		-webkit-animation-delay: 0.17s;
		-moz-animation-delay: 0.17s;
}
.cssload-container .cssload-shaft4 {
	animation-delay: 0.23s;
		-o-animation-delay: 0.23s;
		-ms-animation-delay: 0.23s;
		-webkit-animation-delay: 0.23s;
		-moz-animation-delay: 0.23s;
}
.cssload-container .cssload-shaft5 {
	animation-delay: 0.29s;
		-o-animation-delay: 0.29s;
		-ms-animation-delay: 0.29s;
		-webkit-animation-delay: 0.29s;
		-moz-animation-delay: 0.29s;
}
.cssload-container .cssload-shaft6 {
	animation-delay: 0.35s;
		-o-animation-delay: 0.35s;
		-ms-animation-delay: 0.35s;
		-webkit-animation-delay: 0.35s;
		-moz-animation-delay: 0.35s;
}
.cssload-container .cssload-shaft7 {
	animation-delay: 0.4s;
		-o-animation-delay: 0.4s;
		-ms-animation-delay: 0.4s;
		-webkit-animation-delay: 0.4s;
		-moz-animation-delay: 0.4s;
}
.cssload-container .cssload-shaft8 {
	animation-delay: 0.46s;
		-o-animation-delay: 0.46s;
		-ms-animation-delay: 0.46s;
		-webkit-animation-delay: 0.46s;
		-moz-animation-delay: 0.46s;
}
.cssload-container .cssload-shaft9 {
	animation-delay: 0.52s;
		-o-animation-delay: 0.52s;
		-ms-animation-delay: 0.52s;
		-webkit-animation-delay: 0.52s;
		-moz-animation-delay: 0.52s;
}
.cssload-container .cssload-shaft10 {
	animation-delay: 0.58s;
		-o-animation-delay: 0.58s;
		-ms-animation-delay: 0.58s;
		-webkit-animation-delay: 0.58s;
		-moz-animation-delay: 0.58s;
}

.cssload-container > div {
	animation: cssload-loading 1.73s infinite ease-in-out;
		-o-animation: cssload-loading 1.73s infinite ease-in-out;
		-ms-animation: cssload-loading 1.73s infinite ease-in-out;
		-webkit-animation: cssload-loading 1.73s infinite ease-in-out;
		-moz-animation: cssload-loading 1.73s infinite ease-in-out;
	transform: scaleY(0.05) translateX(-19px);
		-o-transform: scaleY(0.05) translateX(-19px);
		-ms-transform: scaleY(0.05) translateX(-19px);
		-webkit-transform: scaleY(0.05) translateX(-19px);
		-moz-transform: scaleY(0.05) translateX(-19px);
}



@keyframes cssload-loading {
	50% {
		transform: scaleY(1.2) translateX(19px);
		background: #ffffff;
	}
}

@-o-keyframes cssload-loading {
	50% {
		-o-transform: scaleY(1.2) translateX(19px);
		background: #ffffff;
	}
}

@-ms-keyframes cssload-loading {
	50% {
		-ms-transform: scaleY(1.2) translateX(19px);
		background: #ffffff;
	}
}

@-webkit-keyframes cssload-loading {
	50% {
		-webkit-transform: scaleY(1.2) translateX(19px);
		background: #ffffff;
	}
}

@-moz-keyframes cssload-loading {
	50% {
		-moz-transform: scaleY(1.2) translateX(19px);
		background: #ffffff;
	}
}

/* PLEDGE CHECKBOX & BUTTON */
:root {
	--checkbox-size: 28px;
    --bg-color: #fcbf49;
    --checkbox-color: #f7e0b3;
    --hover-color: #284245;
    --tick-color: #436c71;
}

label {
	display: inline-block;
	margin: 0 calc(var(--checkbox-size) * 0.25);
	width: var(--checkbox-size);
	height: var(--checkbox-size);
	border: calc(var(--checkbox-size) * 0.125) solid var(--checkbox-color);
	border-radius: 12.5%;
	-webkit-transition: 400ms 100ms ease-out;
	-o-transition: 400ms 100ms ease-out;
	transition: 400ms 100ms ease-out;
	background-color: var(--bg-color);
}

input[type="checkbox"] {
	position: absolute;
	left: -1000px;
}

.tick {
	position: relative;
	right: calc(var(--checkbox-size) * -0.35);
	top: calc(var(--checkbox-size) * -0.05);
	width: calc(var(--checkbox-size) * 0.15);
	height: calc(var(--checkbox-size) * 0.75);
	border-right: calc(var(--checkbox-size) * 0.25) solid var(--tick-color);
	border-bottom: calc(var(--checkbox-size) * 0.25) solid var(--tick-color);
	-webkit-transform: rotate(45deg) scale(0);
	    -ms-transform: rotate(45deg) scale(0);
	        transform: rotate(45deg) scale(0);
	opacity: 0;
	-webkit-transition: all 600ms cubic-bezier(0.175, 0.885, 0.32, 1.5);
	-o-transition: all 600ms cubic-bezier(0.175, 0.885, 0.32, 1.5);
	transition: all 600ms cubic-bezier(0.175, 0.885, 0.32, 1.5);
}

.tick:before {
	content: '';
	position: absolute;
	left: calc(var(--checkbox-size) * -0.125);
	bottom: calc(var(--checkbox-size) * -0.25);
	border: calc(var(--checkbox-size) * 0.125) solid var(--tick-color);
	border-radius: 50%;
}

.tick:after {
	content: '';
	position: absolute;
	right: calc(var(--checkbox-size) * -0.25);
	top: calc(var(--checkbox-size) * -0.125);
	border: calc(var(--checkbox-size) * 0.125) solid var(--tick-color);
	border-radius: 50%;
}

input[type="checkbox"]:checked + label .tick {
	opacity: 1;
	-webkit-transform: rotate(45deg) scale(1);
	    -ms-transform: rotate(45deg) scale(1);
	        transform: rotate(45deg) scale(1);
}

input[type="checkbox"]:focus + label {
	-webkit-animation-name: cb-pop;
	        animation-name: cb-pop;
	-webkit-animation-duration: 400ms;
	        animation-duration: 400ms;
	-webkit-animation-iteration-count: 1;
	        animation-iteration-count: 1;
	-webkit-animation-timing-function: linear;
	        animation-timing-function: linear;
}

@-webkit-keyframes cb-pop {
	0% {
		-webkit-transform: scale(1);
		        transform: scale(1);
	}
	33% {
		-webkit-transform: scale(0.9);
		        transform: scale(0.9);
	}
	66% {
		-webkit-transform: scale(1.1);
		        transform: scale(1.1);
	}
	100% {
		tranform: scale(1);
	}
}

@keyframes cb-pop {
	0% {
		-webkit-transform: scale(1);
		        transform: scale(1);
	}
	33% {
		-webkit-transform: scale(0.9);
		        transform: scale(0.9);
	}
	66% {
		-webkit-transform: scale(1.1);
		        transform: scale(1.1);
	}
	100% {
		tranform: scale(1);
	}
}

/* ----- FADE IN/OUT ----- */
@-webkit-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
 }
 
@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@-webkit-keyframes fadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;}
 }
 
 @keyframes fadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;}
 }

 .fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
 }

 .fadeOut {
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
 }